###################################
# Xamarin ignores
###################################

#Xamarin xpkg folder
component/xpkg
component/xpkg.zip
component/xamarin-component

#xamarin package
*.xam

*.user
*.userprefs
*.suo
bin/
obj/


###################################
#
# OSX
###################################
*.DS_Store
