###################################
# Xamarin ignores
###################################

#Xamarin xpkg folder
/xpkg
xpkg.zip

#xamarin package
*.xam

*.user
*.userprefs
*.suo
bin/
obj/


###################################
# OSX
###################################
*.DS_Store
