###################################
# Xamarin ignores
###################################
# /xpkg
# *.xam
*.user
*.userprefs
*.suo
bin/
obj/

###################################
# OSX
###################################
*.DS_Store
